In [18]:
import numpy as np
import pandas as pd

movies=pd.read_csv('/Users/soham2312/Downloads/archive (1) 2/tmdb_5000_movies.csv')
credits=pd.read_csv('/Users/soham2312/Downloads/archive (1) 2/tmdb_5000_credits.csv')


credits.head(1)
movies=movies.merge(credits,on='title')
movies = movies.sample(frac=0.5)
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
4579,0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",http://www.wie-im-himmel-derfilm.de/start.html,464,"[{""id"": 30, ""name"": ""individual""}, {""id"": 240,...",sv,Så som i himmelen,A musical romantic tragedy about a famous comp...,4.321249,"[{""name"": ""GF Studios AB"", ""id"": 242}, {""name""...",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,As It Is in Heaven,6.9,42,464,"[{""cast_id"": 1, ""character"": ""Daniel Dar\u00e9...","[{""credit_id"": ""52fe4246c3a36847f8011a6d"", ""de..."
3367,7000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,12573,"[{""id"": 1992, ""name"": ""professor""}, {""id"": 101...",en,A Serious Man,A Serious Man is the story of an ordinary man'...,23.612409,"[{""name"": ""Mike Zoss Productions"", ""id"": 2092}...",...,105.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,...seriously!,A Serious Man,6.6,483,12573,"[{""cast_id"": 1, ""character"": ""Larry Gopnik"", ""...","[{""credit_id"": ""52fe44fd9251416c75047ed1"", ""de..."
3362,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://robzombie.com/movies/the-devils-rejects/,1696,"[{""id"": 625, ""name"": ""sadistic""}, {""id"": 627, ...",en,The Devil's Rejects,The sequel to House of 1000 Corpses – the Fire...,16.754452,"[{""name"": ""Lions Gate Films"", ""id"": 35}, {""nam...",...,107.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,Death walks behind. Hell waits ahead.,The Devil's Rejects,6.6,322,1696,"[{""cast_id"": 15, ""character"": ""Captain Spauldi...","[{""credit_id"": ""52fe430dc3a36847f8036cdd"", ""de..."
4578,225000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,15389,"[{""id"": 213, ""name"": ""upper class""}, {""id"": 24...",en,Metropolitan,A sparkling comedic chronicle of a middle-clas...,1.014966,"[{""name"": ""Allagash Films"", ""id"": 3076}]",...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Finally... A film about the downwardly mobile.,Metropolitan,7.0,38,15389,"[{""cast_id"": 2, ""character"": ""Tom Townsend"", ""...","[{""credit_id"": ""52fe46559251416c75074ffb"", ""de..."
2505,13000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 18, ""na...",http://www.ifcfilms.com/films/enter-the-void,34647,"[{""id"": 549, ""name"": ""prostitute""}, {""id"": 329...",en,Enter the Void,This psychedelic tour of life after death is s...,20.399550,"[{""name"": ""BIM Distribuzione"", ""id"": 225}, {""n...",...,161.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Enter the Void,7.2,387,34647,"[{""cast_id"": 3, ""character"": ""Oscar"", ""credit_...","[{""credit_id"": ""52fe45719251416c910327c1"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,80000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,11544,"[{""id"": 1156, ""name"": ""sister sister relations...",en,Lilo & Stitch,A lonely Hawaiian girl named Lilo is being rai...,55.659988,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,He's coming to our galaxy.,Lilo & Stitch,7.1,1314,11544,"[{""cast_id"": 9, ""character"": ""'Stitch' (voice)...","[{""credit_id"": ""52fe44569251416c750312d3"", ""de..."
3793,1500000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,27723,"[{""id"": 237, ""name"": ""gay""}, {""id"": 246, ""name...",en,Psycho Beach Party,Spoof of 1960's Beach Party/Gidget surfing mov...,2.855963,"[{""name"": ""New Oz Productions"", ""id"": 7055}, {...",...,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Party till you drop. Dead.,Psycho Beach Party,6.0,26,27723,"[{""cast_id"": 2, ""character"": ""Florence 'Chickl...","[{""credit_id"": ""52fe4562c3a368484e05720b"", ""de..."
4767,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,222250,[],en,A True Story,Mike and Matt own nothing and share everything...,0.970351,"[{""name"": ""Team Awesome Films"", ""id"": 41683}]",...,96.0,[],Released,NaN,A True Story,6.8,2,222250,"[{""cast_id"": 1, ""character"": ""Deanna"", ""credit...","[{""credit_id"": ""52fe4de69251416c75144c9f"", ""de..."
3753,4000000,"[{""id"": 53, ""name"": ""Thriller""}]",http://www.theboynextdoorfilm.com/,241251,"[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...",en,The Boy Next Door,A recently cheated on married woman falls for ...,24.161735,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A Moment She Couldn't Resist. An Obsession He ...,The Boy Next Door,4.1,1022,241251,"[{""cast_id"": 3, ""character"": ""Claire Peterson""...","[{""credit_id"": ""55423058c3a3681da0003d57"", ""de..."
3412,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.disneychannel.com/highschoolmusical2,13649,"[{""id"": 4344, ""name"": ""musical""}, {""id"": 6027,...",en,High School Musical 2,The East High Wildcats are ready to have the t...,21.017550,"[{""name"": ""Disney Channel"", ""id"": 3213}]",...,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,High School Musical 2,6.1,843,13649,"[{""cast_id"": 5, ""character"": ""Troy Bolton"", ""c...","[{""credit_id"": ""52fe45879251416c75059a45"", ""de..."

movies['original_language'].value_counts()
movies.info()
movies=movies[['movie_id','title','overview','genres']]

In [19]:
# movies['original_language'].value_counts()
# movies.info()
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head()
movies.isnull().sum()
movies.dropna(inplace=True)
movies.duplicated().sum()
type(movies['movie_id'])

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/3384374879.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

pandas.core.series.Series

In [20]:
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

movies['genres']=movies['genres'].apply(convert)

movies.head()

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/1040098533.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
4579,464,As It Is in Heaven,A musical romantic tragedy about a famous comp...,"[Romance, Drama, Comedy, Music]","[{""id"": 30, ""name"": ""individual""}, {""id"": 240,...","[{""cast_id"": 1, ""character"": ""Daniel Dar\u00e9...","[{""credit_id"": ""52fe4246c3a36847f8011a6d"", ""de..."
3367,12573,A Serious Man,A Serious Man is the story of an ordinary man'...,"[Comedy, Drama]","[{""id"": 1992, ""name"": ""professor""}, {""id"": 101...","[{""cast_id"": 1, ""character"": ""Larry Gopnik"", ""...","[{""credit_id"": ""52fe44fd9251416c75047ed1"", ""de..."
3362,1696,The Devil's Rejects,The sequel to House of 1000 Corpses – the Fire...,"[Drama, Horror, Crime]","[{""id"": 625, ""name"": ""sadistic""}, {""id"": 627, ...","[{""cast_id"": 15, ""character"": ""Captain Spauldi...","[{""credit_id"": ""52fe430dc3a36847f8036cdd"", ""de..."
4578,15389,Metropolitan,A sparkling comedic chronicle of a middle-clas...,"[Comedy, Drama]","[{""id"": 213, ""name"": ""upper class""}, {""id"": 24...","[{""cast_id"": 2, ""character"": ""Tom Townsend"", ""...","[{""credit_id"": ""52fe46559251416c75074ffb"", ""de..."
2505,34647,Enter the Void,This psychedelic tour of life after death is s...,"[Fantasy, Drama]","[{""id"": 549, ""name"": ""prostitute""}, {""id"": 329...","[{""cast_id"": 3, ""character"": ""Oscar"", ""credit_...","[{""credit_id"": ""52fe45719251416c910327c1"", ""de..."

In [21]:
movies['keywords']=movies['keywords'].apply(convert)
movies.head()

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/1255875170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
4579,464,As It Is in Heaven,A musical romantic tragedy about a famous comp...,"[Romance, Drama, Comedy, Music]","[individual, underdog, mentally disabled, loss...","[{""cast_id"": 1, ""character"": ""Daniel Dar\u00e9...","[{""credit_id"": ""52fe4246c3a36847f8011a6d"", ""de..."
3367,12573,A Serious Man,A Serious Man is the story of an ordinary man'...,"[Comedy, Drama]","[professor, dark comedy, telephone call, after...","[{""cast_id"": 1, ""character"": ""Larry Gopnik"", ""...","[{""credit_id"": ""52fe44fd9251416c75047ed1"", ""de..."
3362,1696,The Devil's Rejects,The sequel to House of 1000 Corpses – the Fire...,"[Drama, Horror, Crime]","[sadistic, killing, fire, sheriff, bounty hunt...","[{""cast_id"": 15, ""character"": ""Captain Spauldi...","[{""credit_id"": ""52fe430dc3a36847f8036cdd"", ""de..."
4578,15389,Metropolitan,A sparkling comedic chronicle of a middle-clas...,"[Comedy, Drama]","[upper class, new york, independent film, debu...","[{""cast_id"": 2, ""character"": ""Tom Townsend"", ""...","[{""credit_id"": ""52fe46559251416c75074ffb"", ""de..."
2505,34647,Enter the Void,This psychedelic tour of life after death is s...,"[Fantasy, Drama]","[prostitute, hallucination, strip club, afterl...","[{""cast_id"": 3, ""character"": ""Oscar"", ""credit_...","[{""credit_id"": ""52fe45719251416c910327c1"", ""de..."

In [22]:
def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
        else:
            break;
    return L
# movies['cast'].apply(convert3)

In [23]:
movies['cast']=movies['cast'].apply(convert3)
movies.head()

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/1252985003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(convert3)

,movie_id,title,overview,genres,keywords,cast,crew
4579,464,As It Is in Heaven,A musical romantic tragedy about a famous comp...,"[Romance, Drama, Comedy, Music]","[individual, underdog, mentally disabled, loss...","[Michael Nyqvist, Frida Hallgren, Helen Sjöholm]","[{""credit_id"": ""52fe4246c3a36847f8011a6d"", ""de..."
3367,12573,A Serious Man,A Serious Man is the story of an ordinary man'...,"[Comedy, Drama]","[professor, dark comedy, telephone call, after...","[Michael Stuhlbarg, Richard Kind, Fred Melamed]","[{""credit_id"": ""52fe44fd9251416c75047ed1"", ""de..."
3362,1696,The Devil's Rejects,The sequel to House of 1000 Corpses – the Fire...,"[Drama, Horror, Crime]","[sadistic, killing, fire, sheriff, bounty hunt...","[Sid Haig, Bill Moseley, Sheri Moon Zombie]","[{""credit_id"": ""52fe430dc3a36847f8036cdd"", ""de..."
4578,15389,Metropolitan,A sparkling comedic chronicle of a middle-clas...,"[Comedy, Drama]","[upper class, new york, independent film, debu...","[Edward Clements, Chris Eigeman, Taylor Nichols]","[{""credit_id"": ""52fe46559251416c75074ffb"", ""de..."
2505,34647,Enter the Void,This psychedelic tour of life after death is s...,"[Fantasy, Drama]","[prostitute, hallucination, strip club, afterl...","[Nathaniel Brown, Paz de la Huerta, Cyril Roy]","[{""credit_id"": ""52fe45719251416c910327c1"", ""de..."

In [24]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L
movies['crew']=movies['crew'].apply(fetch_director)
movies.head()

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/2987827364.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(fetch_director)

,movie_id,title,overview,genres,keywords,cast,crew
4579,464,As It Is in Heaven,A musical romantic tragedy about a famous comp...,"[Romance, Drama, Comedy, Music]","[individual, underdog, mentally disabled, loss...","[Michael Nyqvist, Frida Hallgren, Helen Sjöholm]",[Kay Pollak]
3367,12573,A Serious Man,A Serious Man is the story of an ordinary man'...,"[Comedy, Drama]","[professor, dark comedy, telephone call, after...","[Michael Stuhlbarg, Richard Kind, Fred Melamed]",[Joel Coen]
3362,1696,The Devil's Rejects,The sequel to House of 1000 Corpses – the Fire...,"[Drama, Horror, Crime]","[sadistic, killing, fire, sheriff, bounty hunt...","[Sid Haig, Bill Moseley, Sheri Moon Zombie]",[Rob Zombie]
4578,15389,Metropolitan,A sparkling comedic chronicle of a middle-clas...,"[Comedy, Drama]","[upper class, new york, independent film, debu...","[Edward Clements, Chris Eigeman, Taylor Nichols]",[Whit Stillman]
2505,34647,Enter the Void,This psychedelic tour of life after death is s...,"[Fantasy, Drama]","[prostitute, hallucination, strip club, afterl...","[Nathaniel Brown, Paz de la Huerta, Cyril Roy]",[Gaspar Noé]

In [25]:
movies['overview']=movies['overview'].apply(lambda x:x.split())
movies.head()

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/723205029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview']=movies['overview'].apply(lambda x:x.split())

,movie_id,title,overview,genres,keywords,cast,crew
4579,464,As It Is in Heaven,"[A, musical, romantic, tragedy, about, a, famo...","[Romance, Drama, Comedy, Music]","[individual, underdog, mentally disabled, loss...","[Michael Nyqvist, Frida Hallgren, Helen Sjöholm]",[Kay Pollak]
3367,12573,A Serious Man,"[A, Serious, Man, is, the, story, of, an, ordi...","[Comedy, Drama]","[professor, dark comedy, telephone call, after...","[Michael Stuhlbarg, Richard Kind, Fred Melamed]",[Joel Coen]
3362,1696,The Devil's Rejects,"[The, sequel, to, House, of, 1000, Corpses, –,...","[Drama, Horror, Crime]","[sadistic, killing, fire, sheriff, bounty hunt...","[Sid Haig, Bill Moseley, Sheri Moon Zombie]",[Rob Zombie]
4578,15389,Metropolitan,"[A, sparkling, comedic, chronicle, of, a, midd...","[Comedy, Drama]","[upper class, new york, independent film, debu...","[Edward Clements, Chris Eigeman, Taylor Nichols]",[Whit Stillman]
2505,34647,Enter the Void,"[This, psychedelic, tour, of, life, after, dea...","[Fantasy, Drama]","[prostitute, hallucination, strip club, afterl...","[Nathaniel Brown, Paz de la Huerta, Cyril Roy]",[Gaspar Noé]

In [26]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies.head()

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/3374373587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/3374373587.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/3374373587.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/3374373587.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

,movie_id,title,overview,genres,keywords,cast,crew
4579,464,As It Is in Heaven,"[A, musical, romantic, tragedy, about, a, famo...","[Romance, Drama, Comedy, Music]","[individual, underdog, mentallydisabled, losso...","[MichaelNyqvist, FridaHallgren, HelenSjöholm]",[KayPollak]
3367,12573,A Serious Man,"[A, Serious, Man, is, the, story, of, an, ordi...","[Comedy, Drama]","[professor, darkcomedy, telephonecall, aftercr...","[MichaelStuhlbarg, RichardKind, FredMelamed]",[JoelCoen]
3362,1696,The Devil's Rejects,"[The, sequel, to, House, of, 1000, Corpses, –,...","[Drama, Horror, Crime]","[sadistic, killing, fire, sheriff, bountyhunte...","[SidHaig, BillMoseley, SheriMoonZombie]",[RobZombie]
4578,15389,Metropolitan,"[A, sparkling, comedic, chronicle, of, a, midd...","[Comedy, Drama]","[upperclass, newyork, independentfilm, debutan...","[EdwardClements, ChrisEigeman, TaylorNichols]",[WhitStillman]
2505,34647,Enter the Void,"[This, psychedelic, tour, of, life, after, dea...","[Fantasy, Drama]","[prostitute, hallucination, stripclub, afterli...","[NathanielBrown, PazdelaHuerta, CyrilRoy]",[GasparNoé]

In [27]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']
movies.head()

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/1235910685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

,movie_id,title,overview,genres,keywords,cast,crew,tags
4579,464,As It Is in Heaven,"[A, musical, romantic, tragedy, about, a, famo...","[Romance, Drama, Comedy, Music]","[individual, underdog, mentallydisabled, losso...","[MichaelNyqvist, FridaHallgren, HelenSjöholm]",[KayPollak],"[A, musical, romantic, tragedy, about, a, famo..."
3367,12573,A Serious Man,"[A, Serious, Man, is, the, story, of, an, ordi...","[Comedy, Drama]","[professor, darkcomedy, telephonecall, aftercr...","[MichaelStuhlbarg, RichardKind, FredMelamed]",[JoelCoen],"[A, Serious, Man, is, the, story, of, an, ordi..."
3362,1696,The Devil's Rejects,"[The, sequel, to, House, of, 1000, Corpses, –,...","[Drama, Horror, Crime]","[sadistic, killing, fire, sheriff, bountyhunte...","[SidHaig, BillMoseley, SheriMoonZombie]",[RobZombie],"[The, sequel, to, House, of, 1000, Corpses, –,..."
4578,15389,Metropolitan,"[A, sparkling, comedic, chronicle, of, a, midd...","[Comedy, Drama]","[upperclass, newyork, independentfilm, debutan...","[EdwardClements, ChrisEigeman, TaylorNichols]",[WhitStillman],"[A, sparkling, comedic, chronicle, of, a, midd..."
2505,34647,Enter the Void,"[This, psychedelic, tour, of, life, after, dea...","[Fantasy, Drama]","[prostitute, hallucination, stripclub, afterli...","[NathanielBrown, PazdelaHuerta, CyrilRoy]",[GasparNoé],"[This, psychedelic, tour, of, life, after, dea..."

In [28]:
new_df=movies[['movie_id','title','tags']]
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))
new_df['tags']

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/7958064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

4579    A musical romantic tragedy about a famous comp...
3367    A Serious Man is the story of an ordinary man'...
3362    The sequel to House of 1000 Corpses – the Fire...
4578    A sparkling comedic chronicle of a middle-clas...
2505    This psychedelic tour of life after death is s...
                              ...
430     A lonely Hawaiian girl named Lilo is being rai...
3793    Spoof of 1960's Beach Party/Gidget surfing mov...
4767    Mike and Matt own nothing and share everything...
3753    A recently cheated on married woman falls for ...
3412    The East High Wildcats are ready to have the t...
Name: tags, Length: 2402, dtype: object

In [29]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())
new_df

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/3775024635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

,movie_id,title,tags
4579,464,As It Is in Heaven,a musical romantic tragedy about a famous comp...
3367,12573,A Serious Man,a serious man is the story of an ordinary man'...
3362,1696,The Devil's Rejects,the sequel to house of 1000 corpses – the fire...
4578,15389,Metropolitan,a sparkling comedic chronicle of a middle-clas...
2505,34647,Enter the Void,this psychedelic tour of life after death is s...
...,...,...,...
430,11544,Lilo & Stitch,a lonely hawaiian girl named lilo is being rai...
3793,27723,Psycho Beach Party,spoof of 1960's beach party/gidget surfing mov...
4767,222250,A True Story,mike and matt own nothing and share everything...
3753,241251,The Boy Next Door,a recently cheated on married woman falls for ...
3412,13649,High School Musical 2,the east high wildcats are ready to have the t...

In [30]:
# this is to remove the similar words
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def stem(text):
    t=[]
    for i in text.split():
        t.append(ps.stem(i))
    return " ".join(t)

In [31]:
new_df['tags']=new_df['tags'].apply(stem)
from sklearn.feature_extraction.text import CountVectorizer 
cv=CountVectorizer(max_features=5000,stop_words='english')
vectors=cv.fit_transform(new_df['tags']).toarray()
vectors
# vectors.reshape(2403,2500)
# len(cv.get_feature_names())

/var/folders/n3/nzb9s3kx3qx38sj620gjmdj00000gn/T/ipykernel_70530/4216216302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)
similarity
# sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[0:6]
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)
    
recommend('Avatar')

Mr. Holland's Opus
ABCD (Any Body Can Dance)
Bandslam
Idlewild
August Rush

In [33]:
import pickle
pickle.dump(new_df,open('movies.pkl','wb'))
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [34]:
new_df['title'].values

array(['As It Is in Heaven', 'A Serious Man', "The Devil's Rejects", ...,
       'A True Story', 'The Boy Next Door', 'High School Musical 2'],
      dtype=object)